
.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid lighten($text, 70%); 

  margin: 0 0 $s-size 0; 
  padding: $s-size;
}

.add-option-error {
  color: #D33131;
  font-style: italic;
  font-weight: bold;
  margin: $m-size 0;
  padding: 0 $m-size;
}

@media (min-width: 45rem) {
  .add-option {
    flex-direction: row;
  }

  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}