
html {
  font-size: 62.5%;
  color: $text;
}

body {
  font-family: 'Nunito', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: #f2f2f2;
}

@mixin box {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(2px);
  box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.05);
  transition-property: transform,box-shadow;
  transition: .25s cubic-bezier(.215,.61,.355,1);
}

*, input, button {
  outline:none !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

